/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* Container element for settings tab, used for defining plugin-specific variables */
.template-by-note-name-settings {
	--color-darkgreen: darkgreen;
	--color-darkgreen-hover: rgb(1, 81, 1);
	--color-darkred: darkred;
	--color-darkred-hover: rgb(113, 1, 1);
}

.template-by-note-name-add-matcher-button {
	--interactive-normal: var(--color-darkgreen);
	background-color: var(--color-darkgreen);
	margin-left: 20px;
	font-weight: bold;
	max-width: 44px;
	min-width: 44px;
	padding: 4px 10px;
}

.template-by-note-name-add-matcher-button:hover {
	background-color: var(--color-darkgreen-hover);
}

.template-by-note-name-add-matcher-button svg.svg-icon {
	stroke-width: 4;
}

.template-by-note-name-matcher-row .setting-item-info {
	display: none;
}

.template-by-note-name-matcher-row .setting-item-control {
	justify-content: flex-start;
}

.template-by-note-name-matcher-row .setting-item-control input {
	min-width: 132px;
}

.template-by-note-name-matcher-row .setting-item-control .delete-button {
	margin-left: auto;
	background-color: var(--color-darkred);
	font-weight: bold;
	max-width: 44px;
	min-width: 44px;
	padding: 4px 10px;
}

.template-by-note-name-matcher-row .setting-item-control .delete-button:hover {
	background-color: var(--color-darkred-hover);
}

.template-by-note-name-matcher-row
	.setting-item-control
	.delete-button
	svg.svg-icon {
	stroke-width: 4;
}
